@model Images.Picture

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_nav_search.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tutorial</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <!-- CSS -->
    @*  <script src="~/Content/preview-css/script.js"></script>*@
    <meta name="robots" content="noindex,follow" />
    
    <link href="~/Content/css/DetailCss.css" rel="stylesheet" />


</head>

<body>
    <br/>
    <br />
    <div class="container">
        <div class="row list-project">
            <div class="col-md-7">
                <img src=@Url.Content("~/Content/images/"+(Model.url)) alt="project-image" class="rounded tablet-top" style="height:370px" >
            </div>
            <!-- / column -->
            <div class="col-md-5">
                <div class="project-info-box mt-0">
                    <h5><b>ผู้ออกเเบบ</b></h5>
                    @if (@ViewBag.pic != "noimg")
                    {
                        <img src=@Url.Content("~/Content/images/Profile/" + @ViewBag.pic) style="max-width: 50px;border-radius:100% ; border-width:10px;border-color:red" alt="Maxwell Admin" />
                    }
                    else
                    {
                        <img src=@Url.Content("~/Content/images/Profile/") style="max-width: 50px;border-radius:100% ; border-width:10px;border-color:red" alt="Maxwell Admin" />
                    }
                   @* <p class="mb-0"><b>อีเมล์ผู้ออกเเบบ : </b>@Html.DisplayFor(model => model.UserNamePic)</p>*@
                    <p class="mb-0"><b>อีเมล์ผู้ออกเเบบviewbag : </b>@ViewBag.unam</p>
                </div>
                <!-- / project-info-box -->

                <div class="project-info-box mb-10">
                    <p><b>ชื่อภาพ : </b>@Html.DisplayFor(model => model.Name)</p>
                    <p><b>คำอธิบาย : </b>@Html.DisplayFor(model => model.Desc)</p>
                    <p><b>ขนาดภาพ : </b>@Html.DisplayFor(model => model.Size) px.</p>
                    <p><b>หมวดหมู่ : </b>@Html.DisplayFor(model => model.Type)</p>
                    <p class="mb-0"><b>ราคา : </b>@Html.DisplayFor(model => model.Price) THB</p>
                    <br />
                    @if (User.Identity.Name != "admin@admin.com")
                    {
                        @Html.ActionLink("ดาวน์โหลด", "QRCODE", "Home", new { id = Model.Pic_ID }, new { @class = "btn btn-primary btn-lg" })
                        @Html.ActionLink("รายงาน", "Create", "Reports", new { sender_email = User.Identity.Name, receiver_email = Model.user_email, pic_url = Model.url }, new { @class = "btn btn-outline-danger btn-lg", @style = "margin-left:10px" });

                    }
                </div>
                <!-- / project-info-box -->

                
            </div>
            <!-- / column -->
        </div>
        <!-- / row list-project -->


    </div>

</body>
</html>


