
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAll.cshtml";
}

@model IEnumerable<Images.Picture>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
</head>

<!-- Header   Searching-->
<header>


    <div class="hero-image">

        <div class="text-center text-white">
            <br />
            <br />
            <br />
            <br />

            @using (Html.BeginForm("Search", "Home", FormMethod.Post))
            {
                <div class="input-group">

                    @Html.TextBox("searchString", null, new { @class = "form-control", @placeholder = "ค้นหาภาพถ่ายตามความต้องการของคุณ" })
                    <button type="submit" class="btn btn btn-dark">ค้นหา</button>
                </div>
            }
            <h1 class="hero-text">
                รวมรูปภาพสวยๆพร้อมให้คุณดาวน์โหลด

            </h1>
            <p class="hero-text2">ปลดปล่อยพลังสร้างสรรค์ของคุณ</p>
        </div>
    </div>
    <script>
        $(".img-fluid").addClass("wow fadeIn z-depth-1-half");

        new WOW().init();
    </script>
</header>

<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-1 mt-5">
        <div class="hero-text3">
            หมวดหมู่ต่างๆ
        </div>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="@Url.Content("~/Content/images/pd1.jpg")" onclick="location.href = '@Url.Action("Art","Category")'" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 onclick="location.href = '@Url.Action("Art","Category")'">ศิลปะ</h5>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <!-- Product image-->
                    <img class="card-img-top" src="@Url.Content("~/Content/images/pd5.jpg")" onclick="location.href = '@Url.Action("Nature","Category")'" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 onclick="location.href = '@Url.Action("Nature","Category")'">ธรรมชาติ</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="@Url.Content("~/Content/images/pd2.jpg")" onclick="location.href = '@Url.Action("Animal","Category")'" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 onclick="location.href = '@Url.Action("Animal","Category")'">สัตว์</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="@Url.Content("~/Content/images/f.jpg")" onclick="location.href = '@Url.Action("Science","Category")'" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 onclick="location.href = '@Url.Action("Science","Category")'">วิทยาศาสตร์</h5>
                            <!-- Product reviews-->

                        </div>
                    </div>
                </div>
            </div>

            <div class="col mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="@Url.Content("~/Content/images/tt.jpg")" onclick="location.href = '@Url.Action("Tech","Category")'" />
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 onclick="location.href = '@Url.Action("Tech","Category")'">เทคโนโลยี</h5>
                            <!-- Product price-->
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>


<hr class="mb-2" />

<div class="container">
    <div class="row clearfix">
        @for (var i = 1; i <= Model.ToList().Count(); i++)
        {
            var indexItem = i - 1;
            if (i == 1 || i % 4 == 1)
            {
                @:
            }
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="card product_item">
                    <div class="body">
                        <div class="cp_img">
                            <img src="@Url.Content("~/Content/images/" + (Model.ElementAt(indexItem).url))" alt="Product" class="img-fluid"
                                 onclick="location.href = '@Url.Action("Details","Home", new {id = @Model.ElementAt(indexItem).Pic_ID,email = @Model.ElementAt(indexItem).user_email })'">
                        </div>

                        <div class="product_details">
                            <h4><a onclick="location.href = '@Url.Action("Details","Home", new {id = @Model.ElementAt(indexItem).Pic_ID,email = @Model.ElementAt(indexItem).user_email })'">@Model.ElementAt(indexItem).Name</a></h4>
                        </div>

                    </div>
                </div>
            </div>
            if (i % 4 == 0)
            {
                @:
            }
        }
    </div>
</div>
