@model IEnumerable<Images.UserCollection>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAll.cshtml";
}

<br />
<br />
<center><h2>ภาพที่ซื้อแล้ว</h2></center>
<br /><br />
      <center>
          <hr style="width:80%" />
      </center>
          <div class="container">
              <div class="row">
                  @foreach (var item in Model)
                  {


                      <div class="card" style="width: 18rem;background-color:lightgray;margin:15px">
                          <img src=@Url.Content("~/Content/images/"+(item.url)) class="card-img-top" style="width:100%;margin-top:10px" alt="...">
                          <div class="card-body">
                              <h5 class="card-title"> @Html.DisplayFor(modelItem => item.Name)</h5>
                              <p class="card-text">  @Html.DisplayFor(modelItem => item.Desc)</p>
                              @Html.ActionLink("Edit", "Edit", new { id = item.Id_userimage }) |
                              @Html.ActionLink("Details", "Details", new { id = item.Id_userimage, @class = "ntn btn-pimary" }) |
                              @Html.ActionLink("Delete", "Delete", new { id = item.Id_userimage })
                              <button type="button" onclick="load('@Url.Content("~/Content/images/"+(item.url))')">Load</button>
                              <a href="@Url.Content("~/Content/images/"+(item.url))" download="sss.jpg" >ssss</a>
                          </div>
                      </div>
                      <script>
                          function load(url) {
                              window.open(url);
                          }
                      </script>

                      @*    @Html.DisplayFor(modelItem => item.user_email)

                    @Html.DisplayFor(modelItem => item.Name)

                    @Html.DisplayFor(modelItem => item.Size)

                    @Html.DisplayFor(modelItem => item.Type)

                    @Html.DisplayFor(modelItem => item.Desc)

                    @Html.DisplayFor(modelItem => item.Price)*@




                      @*
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id_userimage }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id_userimage }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id_userimage })*@


                  }

              </div>
          </div>
